.sidebar a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  font-size: medium;
  padding: 13px 7%;
  color: rgb(202, 202, 202);
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.3s ease;
}

.sidebar.collapsed a {
  justify-content: center;
  gap: 0px;
}

.sidebar.collapsed a span {
  display: none;
}

.icon {
  width: 17px;
  margin-bottom: 2px;
}

.sidebar a:hover {
  background-color: var(--sidebar-hover);
}

.sidebar a.active {
  background-color: var(--siderbar-selected);
}

.sidebar .logo-text {
  transition: all 0.3s ease;
}

.sidebar.collapsed .logo-text {
  display: none;
}

@media (max-width: 842px) {
  .sidebar .logo-text {
    display: none;
  }

  .sidebar {
    width: 70px;
  }

  .sidebar a {
    justify-content: center;
    gap: 0;
  }

  .sidebar a span {
    display: none;
  }
}